# =========================
# Raw data CSV files - do not push
# =========================
data/raw/*.csv
data/raw/*.xlsx
data/raw/*.parquet

# Allow only the original zip file in raw folder
!data/raw/m5-forecasting-accuracy.zip

# =========================
# Keep processed data and output files
# data/processed/ will be pushed
# output/ or outputs/ will be pushed
# =========================

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Models - do not push
# =========================
models/
*.pkl
*.joblib
*.pt
*.pth
*.h5
*.onnx
*.sav

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Environment variables
# =========================
.env
.env.local

# =========================
# IDE / OS files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db